* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */
.container {
  width: 1170px;
  max-width: calc(
    100% - 48px
  ); /*work when we minimize web page into 1170px, help side left and right always keep distance two sides 24px*/
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 60px;
  display: inline-block;
  background-color: #2e80ce;
  color: #fff;
  height: var(--height);
  min-width: 205px;
  padding: 0 20px;
  text-align: center;
  border-radius: 99px;
  border: 1px solid #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: var(--height);
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header */
.header {
  min-height: 100vh;
  padding-top: 30px;
  background-color: var(--header-bg);
}

.logo {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.4em;
}

.logo__brand {
  font-size: 1.8em;
  font-weight: 400;
  display: block;
  color: #fff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}
.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}
/* .navbar__link:hover {
  color: #fff;
} */
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

.header-action__login {
  margin-right: 7px;
}

/* Hero */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
  width: 517px;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  color: #fff;
  letter-spacing: -0.02rem;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero__row .hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  margin-left: 38px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__image {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__image:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__image:last-child {
  width: 210px;
  height: 410px;
}

/* service */
.service {
  margin: 170px 0 170px 0;
}

/* service list */
.service__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 130px;
}

/* service heading */

.service .section-heading {
  text-align: center;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.service .section-desc {
  text-align: center;
  width: 486px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 70px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.service-row {
  display: flex;
}

/* service-item */

.service-item {
  display: flex;
  width: 470px;
  height: 128px;
  justify-content: center;
  padding: 21px 18px 20px 22px;
}

.service-item--active {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__body {
  width: 351px;
  height: 56px;
  margin-left: 19px;
}

.service-item__body .desc {
  text-decoration: none;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service-item__body .service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

/* service-item__icon_wrap */

.service-item__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6fd;
}

.service-item__icon-wrap--active {
  color: white;
  background-color: #2e80ce;
}

/* service picture */
.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: 0% 0%;
}

/* service list item */
.btn-service {
  font-size: 1.8rem;
  width: 205px;
}
/* Work */

.work {
  background: #f6fbff;
  margin-bottom: 170px;
}

.work .section-heading {
  text-align: left;
  padding-top: 100px;
}

.work .section-desc {
  width: 486px;
  margin-top: 18px;
}

/* Work row */
.work-row {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}
/* Word card */

.work-card {
  margin-top: 86px;
  width: 370px;
  height: 402px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
}

.card-item {
  margin: 43px 42px 43px 42px;
}

.work-body__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-body__item .desc {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 20px;
  margin-bottom: 18px;
}

.work-body__item .desclv1 {
  color: #575f66;
}

.work-card--active {
  border: 16px solid #2e80ce;
  margin-top: 70px;
}

.work-card--active .desc--active {
  color: #2e80ce;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
