* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
  --main-color: #2e80ce;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */

input,
textarea,
select,
button {
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(
    100% - 48px
  ); /*work when we minimize web page into 1170px, help side left and right always keep distance two sides 24px*/
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 60px;
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  height: var(--height);
  min-width: 205px;
  padding: 0 20px;
  text-align: center;
  border-radius: 99px;
  border: 1px solid var(--main-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: var(--height);
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header */
.header {
  min-height: 100vh;
  padding-top: 30px;
  background-color: var(--header-bg);
}

.logo {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: var(--main-color);
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.4em;
}

.logo__brand {
  font-size: 1.8em;
  font-weight: 400;
  display: block;
  color: #fff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  /* position: sticky;
  top: 0;
  z-index: 1000;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

.navbar__list {
  display: flex;
}
.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}
/* .navbar__link:hover {
  color: #fff;
} */
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

.header-action__login {
  margin-right: 7px;
}

/* Hero */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
  width: 517px;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  color: #fff;
  letter-spacing: -0.02rem;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero__row .hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  margin-left: 38px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__image {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__image:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__image:last-child {
  width: 210px;
  height: 410px;
}

/* service */
.service {
  margin: 170px 0 170px 0;
}

/* service list */
.service__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 130px;
}

/* service heading */

.service .section-heading {
  text-align: center;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.service .section-desc {
  text-align: center;
  width: 486px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 70px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.service-row {
  display: flex;
}

/* service-item */

.service-item {
  display: flex;
  width: 470px;
  height: 128px;
  justify-content: center;
  padding: 21px 18px 20px 22px;
}

.service-item--active {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__body {
  width: 351px;
  height: 56px;
  margin-left: 19px;
}

.service-item__body .desc {
  text-decoration: none;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service-item__body .service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

/* service-item__icon_wrap */

.service-item__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6fd;
}

.service-item__icon-wrap--active {
  color: white;
  background-color: var(--main-color);
}

/* service picture */
.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: 0% 0%;
}

/* service list item */
.btn-service {
  font-size: 1.8rem;
  width: 205px;
}
/* Work */

.work {
  background: #f6fbff;
  margin-bottom: 170px;
}

.work .section-heading {
  text-align: left;
  padding-top: 100px;
}

.work .section-desc {
  width: 486px;
  margin-top: 18px;
}

/* Work row */
.work-row {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}
/* Word card */

.work-card {
  margin-top: 86px;
  width: 370px;
  height: 402px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
}

.card-item {
  margin: 43px 42px 43px 42px;
}

.work-body__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-body__item .desc {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 20px;
  margin-bottom: 18px;
}

.work-body__item .desclv1 {
  color: #575f66;
}

.work-body__desc:hover {
  color: var(--main-color);
}
/* .work-card--active {
  border: 16px solid var(--main-color);
  margin-top: 70px;
} */

.work-card:hover {
  cursor: pointer;
  border: 16px solid var(--main-color);
  margin-top: 70px;
  transition: 0.5s;
  transform: translateY(-5px);
}

.work-card--active .desc--active {
  color: var(--main-color);
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* About us */
.Aboutus__row {
  display: flex;
}

/* About us image */
.about_us__image {
  border-radius: 6px;
  position: absolute;
  margin-right: auto;
}

.about_us__image:first-child {
  position: relative;
  object-fit: cover;
  object-position: 0% 100%;
  width: 512px;
  height: 370px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about_us__image:last-child {
  position: relative;
  object-fit: cover;
  width: 332px;
  height: 370px;
  top: -242px;
  right: -238px;
}

.about-us__content .btn-lv2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 38px;
  line-height: 1.66;
}

/* About us content */
.about-us__content {
  width: 470px;
  margin: 82px 0 83px 130px;
}

/* about us heading content */
.about_us__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.about_us__desc {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

/* Team */

.Team__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}
.Team__heading {
  text-align: center;
}

.Team__heading-btn {
  display: inline-block;
  margin-top: 38px;
}

/* Team Row */
.Team-row {
  display: flex; /* Align the cards horizontally */
  flex-wrap: wrap; /* Allow wrapping to the next line if needed */
  justify-content: space-between;
  margin-top: 70px;
}

.Team-card__items {
  width: 262px;
  height: 343px;
  text-align: center;
  border-radius: 6px;
}

.Team-card__item {
  width: 262px;
  height: 318px;
  border-radius: 6px;
  background-color: #eaf6ff;
}

.Team-card__image {
  margin-top: 28px;
  width: 262px;
  height: 290px;
  border-radius: 6px;
  background-color: #eaf6ff;
}

.Team-card__items .member-name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.Team-card__items .address-hospital {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

/* Team chevrons */
.chevrons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
  width: 90px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.chevrons:hover {
  color: #fff;
}

.chevrons-1 {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #575f66;
}
.chevrons-2 {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #575f66;
}

.chevrons-1:hover {
  background-color: var(--main-color);
}

.chevrons-2:hover {
  background-color: var(--main-color);
}

.Team .chevrons .chevrons-1,
.chevrons-2 {
  line-height: 0;
}

/* CTA */
.CTA {
  margin: 170px 0 170px 0;
}

.CTA__content {
  max-height: 522px;
  width: 100%;
}

.CTA__body-content {
  height: 427px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.CTA__background--white {
  width: 100%;
  height: calc(522px - 427px);
  background-color: none;
}

.CTA__image {
  width: 284px;
  height: 521px;
  position: relative;
  top: -47px;
  margin-right: 160px;
  object-fit: cover;
}

.CTA__info {
  display: flex;
  flex-wrap: wrap;
  width: 586px;
  height: auto;
}

.CTA__heading {
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
  width: 489px;
  color: #fff;
}

.CTA__desc {
  color: #fff;
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

.CTA__info a {
  margin-top: 38px;
  margin-right: 28px;
}

.CTA__info img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

/* Blog  */
.Blog__body {
  display: flex;
  justify-content: space-between;
}

.Blog__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 470px;
  margin-right: 102px;
}

.Blog__media .Blog__link {
  color: #10375c;
  font-family: "Inter";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin: 28px 0 28px 0;
}

.Blog__media .chevrons {
  margin: 0;
}

/* Blog card */
.Blog__card {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
}

.Blog__card:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  transform: translateY(-10px);
}

.Blog__card:hover {
  transform: scale(1.01);
  opacity: 0.9;
  cursor: pointer;
}

.Blog__card:first-child {
  margin-right: 13px;
}

.Blog__card .Blog__card-image {
  object-fit: cover;
}

.Blog__card-info {
  padding: 18px 24px 21px 22px;
}

.Blog__card .Blog__title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.Blog__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.Blog__detail {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}

.Blog__detail:hover {
  color: var(--main-color);
}

.Blog__detail--active {
  color: var(--main-color);
}

.Blog__card--active {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
/* CTA-2 */
.CTA-2 {
  margin: 170px 0 170px 0;
  height: 100%;
}

.CTA-2 .section-heading {
  margin: 0;
  margin-top: 100px;
}

.CTA-2 .section-heading::after {
  content: "";
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background-color: var(--main-color);
}

.CTA-2 .section-desc {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 38px;
  width: 617px;
  text-align: center;
}

.CTA-2-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6fbff;
}

.CTA-appointment {
  display: block;
  margin-bottom: 100px;
}

/* Footer */
.footer {
  background-color: var(--header-bg);

  padding-top: 100px;
}

.footer__row {
  display: flex;
}

.footer__column {
  margin-right: 78px;
}

.footer__heading {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer .footer__desc {
  margin-top: 20px;
  width: 336px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer__link {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.85; /* 185.714% */
}

.footer__link:hover {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.footer__list li {
  width: 134px;
  margin: 20px 0 10px 0;
}

.footer__list li:last-child {
  margin-bottom: 28px;
}

.footer__social {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  width: 116px;
  height: 32px;
  margin-bottom: 28px;
}

.footer__social a {
  color: #2e80ce;
}

.footer__social a:hover {
  background-color: #2e80ce;
  color: #fff;
  transition: 0.25s;
}

.footer__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.footer-form {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-form__input {
  border-radius: 4px;
  color: #fff;
  border: 1px solid #406181;
  width: 212px;
  height: 46px;
  outline: none;
  background: transparent;
  padding: 0 10px;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-form__submit {
  font-size: 1.2rem;
  --height: 46px;
  font-weight: 600;
  border-radius: 4px;
  min-width: 108px;
  line-height: 1.86; /* 185.714% */
  height: 46px;
  margin-right: auto;
}

.footer__copyright {
  height: 1px;
  flex-shrink: 0;
  background: #406181;
  border: 1px solid transparent;
}

.footer__copyright-text {
  padding: 28px 0 42px 0;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
